#logo{
    display: flex;
    justify-content: center;
    margin-left: 940px;
}

#homelist {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: black;
    color: white;
}

#homelist a:visited {
    color: rgba(255, 166, 0, 0.829);
 }

#homelist li{
    margin-left: 20px;
}

/* #homelist li:hover{
    background-color: green;
} */


#right_bar{
    display: inline-block;
    margin-left: 1620px;
    width: 13%;
    background-color: rgb(177, 117, 6);
}
#txt-search{
    padding: 70px;
}

#search{
    margin-left: 8px;
}

#category{
    margin-left: 42px;
}

#content{
    display: inline-block;
    width: 70%;
    
}